.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

section {
  width: 90%;
}

.title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.title p {
  font-size: 16px;
  text-align: left;
  font-weight: normal;
}

.chart-container {
  margin: 4px;
  padding: 4px;
  border: 1px grey solid;
  border-radius: 5px;
}
